footer{
    display: flex;
    justify-content: center; 
    background-color: #39344d;
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p{
    font-family: "Madimi One";
}