<div id="navigation">
    <p>User</p>
    <div id="user">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
        <a routerLink="/profile-info">Profile-info</a>
    </div>
    <p>Categories</p>
    <div id="categories">
        <a routerLink="/categories/cars">Cars</a>
        <a routerLink="/categories/coding">Coding</a>
        <a routerLink="/categories/computers">Computers</a>
        <a routerLink="/categories/gaming">Gaming</a>
        <a routerLink="/categories/uncategorized">Uncategorized</a>
    </div>
    <p>Create</p>
    <div id="create">
        <a>Create-topic</a>
    </div>
</div>