<div id="user-data">
    <div id="avatar"></div>
    <div id="topics-created">
        <h1>Created Topics</h1>
        <div id="created-topics-container">
            <p>Is audi better than bmw,</p>
            <p>Is audi worse than bmw,</p>
        </div>
    </div>
    <div id="info">
        <p id="username">Username: <span>Iv4o</span></p>
        <p id="email">Email: <span>random@mail.com</span></p>
        <p id="avatar-text">Avatar: <span>Male avatar</span></p>
    </div>
    <a id="change-info">Change info</a>
</div>