form{
    background-color: #302a49;
    height: 550px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #888;
}

form label{
    font-family: "Poppins";
    font-size: 22px;
    color: #888;
}

form 
#username,
#email,
#password,
#re-password{
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input{
    width:60%;
    background: transparent;
    border:none;
    border-bottom: #110d1f solid 2px;
    height: 40px;
    font-size: 20px;
    color: #888;
    transition: 0.5s ease;
}

form input:focus{
    outline:none;
    border-bottom: #241c42 solid 2px;
}

form button{
    background-color: #241c42;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: bolder;
    border: #110d1f solid 2px;
    border-radius: 100px;
    color: #888;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#submitBtn{
    margin-top: 10px;
}

form button:hover{
    border: none;
    height: 60px;
    width: 220px;
    background-color: #484161;
    color: black;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
}

#have-account{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    font-family: "Poppins";
}

#have-account a{
    text-decoration: none;
    border-bottom: 2px solid #110d1f;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s ease;
}

#have-account a:hover{
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

#have-account a:visited{
    color: inherit;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 450px;
    background-color: red;
    color: black;
    font-weight: bolder;
    font-size: 17px;
    font-family: "Poppins";
}