<form>
    <h1>Register</h1>
    <div id="username">
        <label for="text">Username</label>
        <input type="text" name="username">
    </div>
    <div id="email">
        <label for="email">Email</label>
        <input type="text" name="email">
    </div>
    <div id="password">
        <label for="password">Password</label>
        <input type="password" name="password">
    </div>
    <div id="re-password">
        <label for="password">Re-Password</label>
        <input type="password" name="rePassword">
    </div>
    <button id="submitBtn" type="submit">Submit</button>
    <div id="have-account">
        Already have an account? 
        <a routerLink="/login">
            Log in
        </a>
    </div>
</form>